:root{
  --primary-color: #080431;
  --secondary-color: #0dc3e1;
  --gold: #c8aa6e;
}

*{
  margin: 0;
  padding: 0;  
}

body{
  background-color: var(--primary-color);

}

h1{
  
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;

  color: var(--gold);
}

.MuiInputBase-root>fieldset,
 .MuiInputBase-root>fieldset:hover{
  border-color: var(--gold)!important;
}

.MuiFormLabel-root{
  color: var(--gold)!important;
}